// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Foodie colors:
$beige-light: #FDF8F4;
$beige-dark: #ECE8DC;
$beige-brun: #D7C0AE;
$calendar-color1: #F9EDDB;
