// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');


// Define fonts for body and headers
$body-font: "Inter", "sans-serif";
$headers-font: "Inter", "sans-serif";


body {
  background-color: #FDF8F4;
}

h1 {
  font-size: 2rem !important;
  font-weight: 800 !important;
  color: #1A1423 !important;
}

h2 {
  font-size: 1.4rem !important;
  font-weight: 700 !important;
  color: #1A1423 !important;
}

h3 {
  font-size: 1.4rem !important;
  font-weight: 400 !important;
  color: #1A1423 !important;
}

h4 {
  font-size: 1.2rem !important;
  font-weight: 400 !important;
  color: #1A1423 !important;
}

h5 {
  font-size: 1.2rem !important;
  font-weight: 700 !important;
  color: #1A1423 !important;
}

h6 {
  font-family: "DM Serif Display" !important;
  font-size: 2rem !important;
}

.subtitle{
  font-family: "DM Serif Display" !important;
  font-size: 2rem !important;
  color: rgba($color: #1A1423, $alpha: 0.3) !important ;
}


p {
  font-size: 1rem !important;
  font-weight: 400 !important;
  color: #1A1423 !important;
}

.bold {
  font-weight: 700 !important;
}

.remove-link {
  text-decoration: none !important;
  color: #1A1423 !important;
}


// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
