.scroll-box {
  display: flex;
  width: inherit;
  height: 100%;
  overflow-x: scroll;
  column-gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;

  &::-webkit-scrollbar {
    // display: none;
  }
}

.snap {
  scroll-snap-type: inline mandatory;
  // scroll-padding-inline: 32px;
  .recipe-card {
    scroll-snap-align: start;
  }
}

.title-home {

  border-top: #1A1423 solid 6px;
  margin-top: 100px;
  padding-top: 25px;

  h6 {
    margin: 0;
    text-decoration: underline;
  }
}

.see-more {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 48px;

  h5 {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: #1A1423;
  }
}

.home-calendar {
  margin-top: 20px;
  // background-color: red;
}
