.filters-box {
  position: sticky;
  width: 75%;
  margin: 12px auto;
  ul {
    list-style: none;
    text-align: center;

    li {
      display: inline-block;
      margin: 12px;
    }
  }
}

.line {
  h3 {
    text-align: center;
  }
}

.index-column {
  margin: 32px auto;
  display: grid;
  gap: 20px;
}

@media screen and (min-width: 1800px) {
  .index-column {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .index-page {
    margin: 32px 48px;
  }
}

@media screen and (max-width: 1800px) {
  .index-column {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .index-page {
    margin: 32px 48px;
  }
}

@media screen and (max-width: 1600px) {
  .index-column {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .index-page {
    margin: 32px 48px;
  }
}

@media screen and (max-width: 1320px) {
  .index-column {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .index-page {
    margin: 32px;
  }
}

@media screen and (max-width: 1050px) {
  .index-column {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 800px) {
  .index-column {
    grid-template-columns: 1fr 1fr;
  }
  .index-page {
    margin: 32px 24px;
  }
}

.justify-elements {
  height: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
