.line {

// position: absolute;
// width: 564px;
// height: 0px;
// left: 116px;
// top: 351px;

// border: 1px solid #000000;
// transform: rotate(-0.2deg);
}

.top-left {

}

.column {
  display: grid;
  grid-template-columns: 1.75fr 2.25fr;
  grid-gap: 20px;
}

.one {

}

.two {

}
