.line {
  h3 {
    text-align: center;
  }
}

.index-column {
  margin-top: 30px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.justify-elements {
  height: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.index-page {
  margin: 100px;
  display: flex;
  justify-content: space-between ;
}

.filters-box {
  position: sticky;
  margin-right: 50px;
}
