.top-box {
  display: flex;
}

.line {
  h3 {
    text-align: center;
  }
}

.index-column {
  margin: 32px auto;
  display: grid;
  gap: 20px;
}



@media screen and (min-width: 1800px) {
  .index-column {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .index-page {
    margin: 32px 90px;
  }
}

@media screen and (max-width: 1800px) {
  .index-column {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .index-page {
    margin: 32px 80px;
  }
}

@media screen and (max-width: 1600px) {
  .index-column {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .index-page {
    margin: 32px 70px;
  }
}

@media screen and (max-width: 1320px) {
  .index-column {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .index-page {
    margin: 32px 60px;
  }
}

@media screen and (max-width: 1050px) {
  .index-column {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .index-page {
    margin: 32px 50px;
  }
}

@media screen and (max-width: 800px) {
  .index-column {
    grid-template-columns: 1fr 1fr;
  }
  .index-page {
    margin: 32px 40px;
  }
}

.justify-elements {
  height: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
