  .show-column {
    display: grid;
    grid-template-columns: 1.75fr 2.25fr;
    column-gap: 60px;
    row-gap: 30px;
    grid-auto-rows: minmax(max-content, auto);
  }

  .one {
    margin-top: 150px;
    grid-column: 1/2;
    grid-row: 1;
    text-align: end;
  }

  .two {
    margin-top: 20px;
    grid-column: 2/2;
    grid-row: 1;
   img {
    width: 600px;
    height: 400px;
    object-fit: cover;
   }
  }

  .three {
    text-align: end;
    grid-column: 1/2;
    grid-row: 2;
  }

  .cooking-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2, h3 {
      margin: 0;
    }
  }

  .one-line {
    display: flex;
  }

  .ingredients {
    justify-content: flex-end;
  }
