.show-column {
  display: grid;
  grid-template-columns: 1.75fr 2.25fr;
  column-gap: 60px;
  row-gap: 30px;
  grid-auto-rows: minmax(max-content, auto);
}

.one {
  margin-top: 150px;
  grid-column: 1/2;
  grid-row: 1;
  text-align: end;
}

.two {
  margin-top: 20px;
  grid-column: 2/2;
  grid-row: 1;
  img {
  width: 600px;
  height: 400px;
  object-fit: cover;
  }
}

.three {
  text-align: end;
  grid-column: 1/2;
  grid-row: 2;
}

#add-to-cal {
  font-size: 14px !important;
  text-transform: uppercase;
  font-weight: 600 !important;
  margin-bottom: 0;
}

.cooking-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  h2, h3 {
    margin: 0;
  }
}

.one-line {
  display: flex;
}

.ingredients {
  justify-content: flex-end;
}

.body-freeze {
  overflow: hidden;
  height: 100vh;
}

.nutritional-details {
  display: flex;
  margin-top: 60px;
  justify-content: space-around;
}

.nutri-button {
  text-align: center;
  background-color: #EDE8DC;
  padding: 6px 7px;
  border-radius: 40px;
}

.nutri-top {
  border-radius: 50%;
  padding: 11px;
  background-color: #FDF9F4;
}

.nutri-font {
  font-size: 12px !important;
  margin-bottom: 5px;
  min-width: 45px;
  max-width: 45px;
}

.nutri-different {
  background-color: #F9EDDB !important;
}

.footprint-font {
  font-size: 14px !important;
  margin-bottom: 5px;
  min-width: 45px;
  max-width: 45px;
}
