<div class="container">
  <% @meal_days.each do |meal| %>
    <ul>
      <li><p>Date : <%= meal.date %></p></li>
      <li><p>Number of portions : <%= meal.quantity %></p></li>
      <li><p>Recipe of the day : <%= meal.recipe.name %></p></li>
    </ul>
  <% end %>
</div>
