<div class="top-rectangle" data-controller="menu">
  <div class="column-1">
      <%= link_to root_path do %>
        <h1>FOODIE <i class="fa-solid fa-utensils" style="color: #1a1423;"></i> PLANNER</h1>
      <% end %>
  </div>
  <div class="column-2">
    <h4><i class="fa-solid fa-magnifying-glass"></i> What would you like to cook ?</h4>
  </div>
  <div class="column-3">
    <div class ="border-black">
      <h4>Your Grocery List</h4>
    </div>
    <div class ="border-black">
      <h4>Your Calendar</h4>
    </div>
    <i class="fa-solid fa-user" style="color: #1a1423; padding-bottom: 4px" id="user" ></i>
  </div>
</div>
<div class="menu">
  <%= current_user.email %>
  <li>
    <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "" %>
  </li>
</div>
