<div class="container">
  <div class="grocery-recap">
    <% @groceries.each do |grocery| %>
      <% if !grocery.meal_days.empty? %>
        <% filtered_dates = [] %>
        <% grocery.meal_days.each do |element| %>
          <% date_str = element.date.strftime("%Y-%m-%d") %>
          <% if filtered_dates.none? { |date| date == date_str } %>
            <% filtered_dates << date_str %>
          <% end %>
        <% end %>
        <p>
          Your groceries for
          <strong>
            <%= filtered_dates[0..-2].join(', ') %>
            <%="and #{filtered_dates[-1]}"%>
          </strong>
          -
          <%= link_to "OPEN", grocery_path(grocery), class:"text-decoration-none " %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>
