.banner-area {
  background-image: url("https://static01.nyt.com/images/2023/06/13/multimedia/as-dumpling-salad-lvtc/as-dumpling-salad-lvtc-threeByTwoMediumAt2X.jpg");
  background-size: cover;
  background-position: center center;
  height: 300px;
  width: 100%;
  overflow: hidden;
  box-shadow: 0px 10px 25px 2px rgba($color: black, $alpha: 0.1);
}

.headline {
  text-align: left;
  position: relative;
  font-size: 40px !important;
  top: 15%;
  left: 15%;
  color: white !important;
  text-shadow: 2px 5px 20px black !important;
  letter-spacing: 2px !important;
  text-transform: uppercase;
}
