
.button{
  background-color: $beige-dark;
  color: #1A1423 ;
  padding: 8px 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}

.force-button {
  background-color: $beige-dark !important;
  color: #1A1423 !important;
  padding: 8px 16px !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}

.force-button {
  background-color: #EDE8DC;
  color: #1A1423;
  padding: 8px 16px;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.button-2 {
  background-color: $beige-brun;
  color: $beige-light;
  padding: 8px 16px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);;
}
