.container {
  margin-top: 48px;
}

@media screen and (min-width: 1300px) {
  .containerrr {
    margin: 48px 80px;
  }
}

@media screen and (max-width: 1300px) {
  .containerrr {
    margin: 32px;
  }
}

@media screen and (max-width: 920px) {
  .containerrr {
    margin: 32px 24px;
  }
}
