.line {
  border-bottom: 1px solid #000000;
  margin-bottom: 10px;
  }

.line-above {
  border-top: #1A1423 5px solid;
  padding-top: 15px;
  margin-top: 100px;
}

.less-margin {
  margin-top: 50px !important;
}
