

.right-side {
  z-index: 10;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #FDF8F4;
  width: 300px;
  position: absolute;
  right: 0;
  top: 0;

  .menu-top {
    margin: 15px;
    font-weight: 500;
    font-style: italic;
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;
    align-items: center;
  }

  .line {
    width: 100%;
  }
}

.left-side {
  z-index: 10;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background-color: rgba($color: #000000, $alpha: 0.4);
}



