.right-side {
  z-index: 10;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #FDF8F4;
  width: 300px;
  position: absolute;
  right: 0;
  top: 0;

  .menu-top {
    padding: 15px;
    font-weight: 500;
    font-style: italic;
    display: flex;
    justify-content: space-between;
    width: -webkit-fill-available;
    align-items: center;
    border-bottom: #1A1423 solid 1px;
  }
}

.menu-bottom {
  width: 100%;

  ul {
    padding-left: 0 !important;
    list-style: none;
    width: 100%;
    margin-top: 30px;
    border-top: #1A1423 solid 1px;
  }

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: #1A1423 solid 1px;
    padding: 10px 20px;

    &:hover {
      color: rgba($color: #1A1423, $alpha: 0.7);
    }
  }

  a {
    text-decoration: none;
    color: #1A1423;
    font-size: 20px;
    font-weight: 300;
  }
}

.darken-screen {
  z-index: 8;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  background-color: rgba($color: #000000, $alpha: 0.4);
}

.arrow-right {
  font-size: 30px;
}

.intro {
  margin: 20px;
}
