.modal-header {
  border-bottom: none !important;

}


.right-side-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 10px;
  padding: 20px 0;
  justify-content: space-between;
   p {
    width: 100px;
   }
}

.modal-content {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  left: -50%;
}

.form-fav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: scroll;

  // background-color: $beige-dark;
  .form-fav-recipe {
    background-color: #EDE8DC;
    margin: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    img {
      width: 200px;
      height: auto;
    }
    &:hover {
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    }
    a {
      text-decoration: none;
      margin: 16px auto;
    }

  }
}
