// .navbar-lewagon {
//   justify-content: space-between;
//   border-bottom: 1px solid #1A1423;
//   height: 80px;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

.top-rectangle {
  border-bottom: solid 1px #1A1423;
  display: flex;
  background-color: #FDF8F4;



  .logo-link {
    display: flex;
    align-items: center;
  }

  @media screen and (max-width: 1200px) {
    h1 {
      margin: 0;
      display: none;
    }
  }
}

.searchbar {
  height: 50px;
  color:#1A1423;
}

.column-1, .column-2, .column-3 {
  width: 33%;
}

.column-1 {
  background-color: #EDE8DC;
  padding: 14px 24px 10px 24px;
  text-align: center;
  display: flex;
  justify-content: space-around;

  a {
    text-decoration: none;
  }
}

.column-2 {
  background-color: white;

  h6 {
    color: rgba($color: #1A1423, $alpha: 0.7) !important;
  }

  .search-field {
    border: none;
    padding: 8px;
    width: 80%;
  }
}

.column-3 {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #FDF8F4;

  .gone{
    @media screen and (max-width: 1200px){
      display: none;
    }
  }

  a {
    text-decoration: none;
    color: #1A1423;
  }
}
.navbar-box {
  height: 100%;
  display: flex;
  align-items: center;
  h6 {
    margin: 0;
  }
}

.border-black {
  transition-duration: 0.2s;

}

.border-black:hover {
  border-bottom: solid 5px #1A1423;
}
